<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "escape_mystery.game-mon.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>ESCAPE Mystery</name>

    <description>
        Ann app made using Scratch, Phonegap, github, and PhoneGap
    </description>

    <author href="http://scratch.mit.edu/users/Game-mon" email="gamemon.officiel@gmail.com">
        Game-mon
    </author>

</widget>
